body {
	background-color: #fadde1;
}

main {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	width: 80vw;
}

#h1 {
	text-align: center;
	margin: 3.125rem;
	font-family: "Rubik Dirt", cursive;
	font-size: 4.5rem;
	color: #e67cab;
	font-weight: 400;
}

.text {
	height: 15.625rem;
	width: 100%;
	font-size: 1.125rem;
	margin: 0.3125rem;
}

.button {
	background-color: #e67cab;
	color: aliceblue;
	border: #fadde1;
	border-radius: 0.625rem;
	margin: 0.625rem;
	padding: 1.25rem;
	font-size: medium;
}

.select {
	padding: 1.1875rem;
}

.button:hover,
.select:hover {
	background-color: #f4b1ba;
	color: #e24d90;
}
.select:focus {
	outline: #f4b1ba;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.minion-mode {
	background-color: rgb(240, 232, 115);
	background-image: url(./images/minions.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

textarea {
	background: #efe2e2db;
}

.pirate-mode {
	background-color: rgb(0, 0, 0);
	color: rgb(249, 249, 249);
	background-image: url(./images/pirates.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.soundicon {
	width: 2.5rem;
	height: 0.9375rem;
}

#error {
	font-size: 1.0625rem;
	margin-left: 0.3125rem;
	color: rgb(216, 18, 18);
}

@media screen and (max-width: 680px) {
	.container {
		flex-direction: column;

	}
	#h1{
		font-size: 2.5rem;
	}
	.button-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	}
}
