body {
	background-color: #fadde1;
}

main {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	width: 80vw;
}

.textForm {
	height: 250px;
	width: 100%;
	font-size: 18px;
	margin: 5px;
}

.textTo {
	height: 250px;
	width: 100%;
	font-size: 18px;
	margin: 5px;
}

.button,
.select,
.micro {
	background-color: #e67cab;
	color: aliceblue;
	border: #fadde1;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	font-size: medium;
}

.select {
	padding: 19px;
}

.button:hover,
.select:hover {
	background-color: #f4b1ba;
	color: #e24d90;
}
.select:focus {
	outline: #f4b1ba;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.minion-mode {
	background-color: rgb(240, 232, 115);
	background-image: url(./images/minions.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

textarea {
	background: #efe2e2db;
}

.pirate-mode {
	background-color: rgb(0, 0, 0);
	color: rgb(249, 249, 249);
	background-image: url(./images/pirates.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.soundicon {
	width:40px;
	height: 15px;
}

@media screen and (max-width: 680px) {
	.container {
		flex-direction: column;
	}
}
